127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost6 localhost6.localdomain6 localhost6.localdomain

# Cluster nodes
10.227.209.171 nvidia-mgmt01.cluster.local nvidia-mgmt01
10.227.209.172 nvidia-mgmt02.cluster.local nvidia-mgmt02
10.227.209.173 nvidia-mgmt03.cluster.local nvidia-mgmt03
10.227.209.181 nvidia-node01.cluster.local nvidia-node01
10.227.209.182 nvidia-node02.cluster.local nvidia-node02
10.227.209.191 lambda-node01.cluster.local lambda-node01

# Cluster Services
{{ hostvars[inventory_hostname].ip }} registry.local docker-proxy.local apt-proxy.local
